.poster {
  @apply flex text-white text-lg font-fira font-light
          xs:w-full mt-4
          lg:mb-4;
}

.img {
  @apply xs:w-40 rounded-lg mb-1;
}

.filmCard_description {
  @apply xs:ml-1 w-full
          lg:w-full
          xl:w-11/12;
}

.sub_title {
  @apply xs:leading-4
          sm:w-full
          lg:w-5/6;
}

@media (min-width: 1024px) {
  .poster {
    @apply flex-col;
  }
}
